@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;500&display=swap');

body {
  padding: 5px;
  font-family: 'Work Sans', sans-serif;
}

.startup-container {
  margin: 50px auto;
  padding: 50px;
}

.startup-list {
  display: flex;
  flex-wrap: wrap;
  animation: downup 2s linear;
  padding: 10px;
  gap: 1.7rem;
}

.startup-item {
  width: 30%;
  padding: 5px;
}

.startup-content {
  margin: 0;
}

.startup-heading {
  text-align: center;
}

.startup-paragraph {
  text-align: center;
  margin-bottom: 20px;
}

.content {
  display: flex;
  align-items: flex-start;
}

.numbers {
  position: absolute;
  font-size: 4rem;
  margin-left: -3rem;
  color: #666666;
}

@keyframes downup {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.startup-paragraph {
  font-family: sans-serif;
  font-weight: 500;
  color: #666666;
}

.startup-meter {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid gray;
  border-left: none;
  border-right: none;
}

.startup-meter li {
  display: flex;
  flex-direction: column;
  margin-right: 10rem;
}

.startup-meter li h3 {
  font-weight: bold;
  font-size: 2.5rem;
  font-family: 'Courier New', Courier, sans-serif;
}

.startup-meter li p {
  font-size: 1.1rem;
  font-weight: 700;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Media queries for different screen sizes */

/* For screens smaller than 600px */
@media (max-width: 600px) {
  .startup-item {
    width: 100%;
  }
}

/* For screens between 600px and 900px */
@media (min-width: 600px) and (max-width: 900px) {
  .startup-item {
    width: 50%;
  }
}

/* For screens larger than 900px */
@media (min-width: 900px) {
  .startup-item {
    width: 30%;
  }
}
